<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recipe.mapper">

	<resultMap type="RecipeMaterialDto" id="materialDto">
		<result column="RECIPE_ID" property="recipe_id" />
		<result column="IRDNT_SN" property="irdnt_sn" />
		<result column="IRDNT_NM" property="irdnt_nm" />
		<result column="IRDNT_CPCTY" property="irdnt_cpcty" />
		<result column="IRDNT_TY_CODE" property="irdnt_ty_code" />
		<result column="IRDNT_TY_NM" property="irdnt_ty_nm" />
	</resultMap>


	<select id="selectList" resultMap="materialDto">
		SELECT DISTINCT IRDNT_NM FROM RECIPE_MATERIAL 
	</select>
	
	<insert id="insertRefrigerator" parameterType="RefrigeratorDto">
	INSERT INTO MY_REFRIGERATOR
	 VALUES(#{id},#{irdnt_nm})
	</insert>
	
	<select id="selectmyrefrigeratorlist" parameterType="String" resultType="RefrigeratorDto">
		SELECT DISTINCT IRDNT_NM FROM MY_REFRIGERATOR WHERE ID=#{id}
	</select>
	
	
	<select id="selectrecommend" parameterType="String" resultType="RecipeInfoDto">
	<![CDATA[
	
 
  SELECT * FROM RECIPE_INFO 
WHERE RECIPE_ID IN 
 (SELECT RECIPE_ID FROM 
  (SELECT RECIPE_ID,COUNT(*) AS COUNT FROM RECIPE_MATERIAL INNER JOIN MY_REFRIGERATOR ON MY_REFRIGERATOR.IRDNT_NM = RECIPE_MATERIAL.IRDNT_NM 
 WHERE ID=#{id} GROUP BY RECIPE_MATERIAL.RECIPE_ID ORDER BY COUNT DESC) 
 WHERE ROWNUM<=3)
	]]>
	
	</select>
	<select id="selectrecipeview" parameterType="int" resultType="RecipeInfoDto">
		SELECT * FROM RECIPE_INFO WHERE RECIPE_ID=#{recipe_id}
	</select>
	<select id="selectprocessview" parameterType="int" resultType="RecipeProcessDto">
		SELECT * FROM RECIPE_PROCESS WHERE RECIPE_ID=#{recipe_id}
	</select>
	<select id="selectmaterialview" parameterType="int" resultType="RecipeMaterialDto">
		SELECT * FROM RECIPE_MATERIAL WHERE RECIPE_ID=#{recipe_id}
	</select>
	<select id="selectcategory" parameterType="map" resultType="RecipeInfoDto">
	
	SELECT * FROM RECIPE_INFO WHERE 
				NATION_NM=
				<foreach collection="nation_nm" item="nation_nm">
                  	#{nation_nm} 
                </foreach>
                AND TY_NM=
                <foreach collection="ty_nm" item="ty_nm">
                  	#{ty_nm} 
                </foreach>
                 
                
				<foreach collection="cooking_time" item="cooking_time">
                
                <choose>
              
            <when test='cooking_time="0~30분"'>
               AND COOKING_TIME IN(0,30)
            </when>
            <when test='cooking_time="30분~60분"'>       
             AND COOKING_TIME IN(30,60)
            </when>
            <when test='cooking_time="60분~120"'>
             AND COOKING_TIME IN(60,120)
            </when>
            <when test='cooking_time="120분~200"'>
           	AND COOKING_TIME IN(120,200)
            </when>
           		</choose>
     		 </foreach>
             

	</select>
	<select id="allrecipe"  resultType="RecipeInfoDto">
		SELECT * FROM RECIPE_INFO
	</select>
	<delete id="deletematerial" parameterType="String">
      DELETE FROM MY_REFRIGERATOR WHERE id = #{id}
   </delete>
   <select id="selectLikeFood" parameterType="String" resultType="RecipeInfoDto">
      SELECT * FROM RECIPE_INFO WHERE RECIPE_NM_KO LIKE '%'||#{recipe_nm_ko}||'%'
   </select>
   

</mapper>