<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recipe.mapper">

	<resultMap type="RecipeMaterialDto" id="materialDto">
		<result column="RECIPE_ID" property="recipe_id" />
		<result column="IRDNT_SN" property="irdnt_sn" />
		<result column="IRDNT_NM" property="irdnt_nm" />
		<result column="IRDNT_CPCTY" property="irdnt_cpcty" />
		<result column="IRDNT_TY_CODE" property="irdnt_ty_code" />
		<result column="IRDNT_TY_NM" property="irdnt_ty_nm" />
	</resultMap>


	<select id="selectList" resultMap="materialDto">
		SELECT DISTINCT IRDNT_NM FROM RECIPE_MATERIAL 
	</select>
	
	<insert id="insertRefrigerator" parameterType="RefrigeratorDto">
	INSERT INTO MY_REFRIGERATOR
	 VALUES(#{id},#{irdnt_nm})
	</insert>
	
	<select id="selectmyrefrigeratorlist" parameterType="String" resultType="RefrigeratorDto">
		SELECT IRDNT_NM FROM MY_REFRIGERATOR WHERE ID=#{id}
	</select>
	
	
	<select id="selectrecommend" parameterType="String" resultType="RecipeInfoDto">
	<![CDATA[
	SELECT * FROM RECIPE_INFO WHERE RECIPE_ID IN(SELECT * FROM (SELECT RECIPE_ID FROM RECIPE_MATERIAL INNER JOIN MY_REFRIGERATOR ON 
 MY_REFRIGERATOR.IRDNT_NM = RECIPE_MATERIAL.IRDNT_NM WHERE ID=#{id} GROUP BY RECIPE_MATERIAL.RECIPE_ID ORDER BY RECIPE_ID ASC) WHERE ROWNUM<=3)
	]]>
	
	</select>
	<select id="selectrecipeview" parameterType="int" resultType="RecipeInfoDto">
		SELECT * FROM RECIPE_INFO WHERE RECIPE_ID=#{recipe_id}
	</select>
	<select id="selectprocessview" parameterType="int" resultType="RecipeProcessDto">
		SELECT * FROM RECIPE_PROCESS WHERE RECIPE_ID=#{recipe_id}
	</select>
	<select id="selectmaterialview" parameterType="int" resultType="RecipeMaterialDto">
		SELECT * FROM RECIPE_MATERIAL WHERE RECIPE_ID=#{recipe_id}
	</select>

</mapper>