<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="loginmapper">

	<select id="selectlist" resultType="LoginDto">
		SELECT * FROM LOGIN
	</select>
	
	<select id="selectOne" parameterType="int" resultType="LoginDto">
		SELECT * FROM LOGIN WHERE SEQ=#{sep}
	
	</select>
	
	<select id="login" parameterType="map" resultType="LoginDto">
		SELECT * FROM LOGIN WHERE ID=#{id} AND PW=#{pw}
	
	</select>
	
	<select id="idChk" parameterType="map" resultType="LoginDto">
		SELECT ID FROM LOGIN WHERE ID=#{id}
	
	</select>
	<select id="idSearch" parameterType="map" resultType="LoginDto">
		SELECT ID FROM LOGIN WHERE NAME=#{name} AND EMAIL=#{email}
	</select>
	<insert id="user_insert" parameterType="LoginDto">
		INSERT INTO LOGIN
		VALUES(LOGINSEQ.NEXTVAL,#{name},#{id},#{pw},#{email},#{addr})
	</insert>
	
	<update id="user_update" parameterType="int">
		UPDATE LOGIN SET PW=#{pw}, ADDR=#{addr}, EMAIL=#{email} WHERE SEQ=#{seq}
	</update>
	
	<delete id="user_delete" parameterType="int">
		DELETE FROM LOGIN WHERE SEQ=#{seq}
	</delete>
	
	
</mapper>
