@charset "utf-8"; 

.header {overflow:hidden;width:100%;height:67px;border-bottom:1px solid #000000;background-color: #FDF5E6;}
.headerDeco {width:900px;margin:0 auto;}
.header h1 {float:left;padding-top:26px;}
.header h1 img {margin-right:19px;}
.header .headerNav {float:right;overflow:hidden;margin-top:30px;}
.header .headerNav li {float:left;margin-left:-1px;font-size:11px;padding:0 8px 0 7px;background:transparent url(https://ssl.nx.com/S2/membership/2011/global/set_bar.gif) no-repeat 0 -249px;}
.join2Cnts {clear:both;width:510px;margin:0 auto;}

.bt {clear:both;width:510px;text-align:center;}
.bt a {display:inline-block;width:145px;height:28px;margin:0 5px;padding-top:15px;text-align:center;font-size:14px;font-weight:bold;}
.bt a:hover {color:#ffffff;}
.bt a.bt5:hover {color:#6e81df;}
.bt1, .bt3, .bt4, a.bt5 {border:1px solid #5a6ff2;color:#ffffff;background-color:#6e81df;}
.bt2 {border:1px solid #a9a9a9;color:#999999;background-color:#ffffff;}
a.bt5 {width:90px;border:1px solid #6e81df;background-color:#ffffff;color:#6e81df;}
a.bt3 {width:90px;}
a.bt4 {width:112px;}

.join2Cnts {padding-bottom:70px;}
.join2Cnts h2 {height:59px;padding-top:60px;border-bottom:1px solid #cccccc;text-align:center;}
.join2Cnts h2 img {vertical-align:top;}

/* 이용약관 */
.uaCntsAll {margin:18px 0 7px;}
.uaCntsAll label {font-weight:bold;color:#000000;font-size:14px;line-height:1.5;}
.uaCntsAll .checkboxSec2 label {padding-left:33px;}
.uaCnts {width:498px;padding-top:11px;}
.uaCnts label span {color:#6d81df;}
.uaCnts .checkboxSec {background-color:#f9f9f9;}
.uaCnts .checkboxSec label {font-weight:bold;color:#000000;}
.uaCnts .checkboxSec {width:494px;padding:14px 0 7px 14px;border:1px solid #e5e5e5;border-bottom:0;}
.uaTxt {width:489px;height:130px;padding:0 0 0 19px;color:#161616;border:1px solid #e5e5e5;line-height:1.5;}
.uaCnts2 {position:relative;padding-bottom:14px;}
.uaCnts2 .detail {display:block;width:468px;margin-top:-6px;padding:0 0 16px 40px;font-size:11px;color:#999999;border:1px solid #e7e7e7;border-top:0;background-color:#f9f9f9;}
.uaCnts2 .detail a {text-decoration:underline;color:#999999;}
.uaCnts2 .layerJoinInfo {z-index:9;position:absolute;bottom:55px;right:-12px;border:2px solid #819ee7;background-color:#ffffff;font-size:11px;}
.uaCnts2 .layerJoinInfoArr {z-index:10;position:absolute;bottom:-10px;left:155px;display:block;width:16px;height:10px;background:url(https://ssl.nx.com/S2/membership/2011/join/img_layer_arr4.gif) no-repeat left top;}
.uaCnts2 .layerJoinInfo ul {width:380px;padding:13px 10px 7px;background-color:#ffffff;font-size:11px;}
.uaCnts2 .layerJoinInfo li {padding:0 0 4px 6px;line-height:16px;background:url(https://ssl.nx.com/S2/membership/2011/icon/bul_squ_gr.gif) no-repeat left 6px;}
.uaCnts3 {width:508px;margin-top:-7px;border-bottom:1px solid #e5e5e5;}
.userAgreement .bt {padding:40px 0 0px;}

/* 본인인증 */
.authNType li {clear:both;margin-bottom:10px;vertical-align:top;}
.authNType li a {position:relative;overflow:hidden;display:block;width:566px;height:90px;padding:1px;border:1px solid #e5e5e5;background-color:#f9f9f9;color:#999999;}
.authNType li a.auth1 {background:#f9f9f9 url(https://ssl.nx.com/S2/membership/2011/find2/ico_find2_auth1.png) no-repeat left -10px;}
.authNType li a.auth4 {background:#f9f9f9 url(https://ssl.nx.com/S2/membership/2011/find2/ico_find2_auth4.png) no-repeat left -10px;}
.authNType li a.auth6 {background:#f9f9f9 url(https://ssl.nx.com/S2/membership/2011/find2/ico_find2_auth6.png) no-repeat left -10px;}
.authNType li a.auth7 {background:#f9f9f9 url(https://ssl.nx.com/S2/membership/2011/find2/ico_find2_auth7.png) no-repeat left -10px;}
.authNType li a:hover {width:566px;height:90px;padding:0;border:2px solid #6e81df;background-position:-1px -11px;}
.authNType li a span.txt1 {float:left;display:block;padding:28px 0 0 107px;font-size:14px;color:#000000;font-weight:bold;}
.authNType li a span.txt2 {clear:both;float:left;display:block;width:280px;padding:7px 0 0 107px;}
.authNType li a span.txt3 {position:absolute;top:24px;right:40px;display:inline-block;width:106px;height:29px;padding-top:16px;text-align:center;background-color:#6e81df;font-size:14px;color:#ffffff;font-weight:bold;}
.authNType li a:hover span.txt3 {top:23px;right:39px;}

/* TPA 회원가입 */
.selectTpa {width:510px;margin:0 auto;padding-bottom:250px;text-align:center;}
.selectTpa img {vertical-align:top;}
.selectTpa .txt1 {padding:71px 0 50px;}
.selectTpa .txt2 {padding:30px 0;border-top:1px solid #ebebeb;}
.selectTpa ul li {margin-bottom:15px;text-align:left;}
.selectTpa ul li a {display:block;width:472px;height:40px;padding:23px 0 0 36px;border:1px solid #c8c8c8;background-color:#ffffff;}
.selectTpa ul li a:hover {width:471px;height:39px;padding:22px 0 0 35px;border:2px solid #6d81df;}

/* 본인확인 */
.userAuth .authTxt {padding:34px 0;text-align:center;line-height:1.7;}
.userAuth .authTxt span {display:block;}
.userAuth .authTxt span.txt1 {font:18px "Malgun Gothic";color:#000000;font-weight:bold;}
.userAuth .authTxt span.txt1 strong, .userAuth .authTxt span.txt2 strong {color:#6e81df;}
.userAuth .authTxt span.txt2 {padding-top:26px;font-size:14px;}
.userAuth .authTxt span.txt2 span {padding-top:8px;}
.userAuth .authTxt span.txt2 strong {font-weight:normal;}
.userAuth .authTxt span.txt2 span .bold1 {font-weight:bold;color:#ff6500;}
.join2Cnts .authNType {padding-bottom:100px;}
.join2Cnts .authNType a {width:506px;}
.join2Cnts .authNType a:hover {width:506px;}
.join2Cnts .authNType li a span.txt2 {letter-spacing:-1px;}
.join2Cnts .authNType li a span.txt3 {right:29px;}
.join2Cnts .authNType li a:hover span.txt3 {right:28px;}
.userNXID {position:relative;widht:486px;height:40px;margin:60px 0 100px;padding:30px 0 0 24px;background-color:#f6f6f7;}
.userNXID strong {color:#333333;}
.userNXID span.num {font-weight:bold;color:#6d81df;}
.userNXID a {position:absolute;top:20px;right:25px;display:inline-block;width:117px;height:19px;padding-top:9px;background-color:#ffffff;border:1px solid #b4beec;color:#6d81e4;font-size:11px;text-align:center;}
.userNXID a span {display:inline-block;padding-right:7px;background:url(https://ssl.nx.com/S2/membership/2011/icon/bul_arr_bl3.gif) no-repeat right 2px;}

/* 기본정보입력 */
.nUserInfo {padding-bottom:100px;}
.nUserInfo dl {overflow:hidden;width:510px;margin-top:15px;}
.nUserInfo dl dt, .nUserInfo dl dd {float:left;}
.nUserInfo dl dt {clear:both;width:114px;padding-top:59px;font-size:14px;color:#000000;font-weight:bold;}
.nUserInfo dl dd {width:396px;padding-top:40px;}
.nUserInfo dl dd .inputCnts {width:396px;}
.nUserInfo dl dd .inputCnts .inputWrap {width:394px;}
.nUserInfo dl dd .inputCnts .inputWrap .inputTxtSec input {width:296px;}
.nUserInfo dl dd.nxID {position:relative;}
.nUserInfo dl dd.nxID .authNumBt {position:absolute;top:40px;right:0;}
.nUserInfo dl dd.nxID .authNumBt button {display:inline-block;width:112px;height:52px;padding-top:3px;border:1px solid #b4beec;font-weight:bold;color:#6e81df;}
.nUserInfo dl dd.nxID .inputCnts {width:396px;}
.nUserInfo dl dd.nxID .inputCnts .inputWrap {width:267px;}
.nUserInfo dl dd.nxID .inputCnts .inputWrap .inputTxtSec input {width:169px;}
.nUserInfo dl dd.authNum .inputCnts {width:396px;}
.nUserInfo dl dd.authNum .inputCnts .inputWrap {width:394px;}
.nUserInfo dl dd.authNum .inputCnts .inputWrap .inputTxtSec input {width:274px;}
.nUserInfo dl dd.authNum .inputCnts .inputWrap .inputAlertSec .delBt {right:80px;}
.nUserInfo .bt {margin-top:39px;}

/* 가입완료 */
.nxNick {position:relative;widht:486px;margin:60px 0 100px;padding:0px 0 0 24px;background-color:#f6f6f7;}
.nxNick dl {overflow:hidden;width:462px;height:51px;padding-top:20px;}
.nxNick dt, .nxNick dd {float:left;}
.nxNick dt {clear:both;width:73px;padding-top:10px;color:#333333;}
.nxNick dd {overflow:hidden;width:389px;}
.nxNick dd .inputCnts {float:left;}
.nxNick dd .inputCnts p {width:auto;padding-bottom:0;}
.nxNick dd .inputCnts .inputWrap {width:266px;}
.nxNick dd .inputCnts .inputWrap .inputTxtSec input {width:166px;height:27px;padding:0;padding:1px 0 0 18px;}
.nxNick dd .inputCnts .inputWrap .inputAlertSec .delBt {top:9px;}
.nxNick dd .bt {clear:none;float:left;width:120px;text-align:right;}
.nxNick dd .bt button {display:inline-block;height:30px;padding:3px 10px 0;background-color:#ffffff;border:1px solid #acacac;color:#666666;font-size:11px;text-align:center;}
.nxNick .nickChange {height:41px;padding-top:30px;}
.nxNick .nickChange p.txt {float:left;width:350px;}
.nxNick .nickChange p.txt span {display:inline-block;color:#6e81df;font-weight:bold;word-break:break-all;word-wrap:break-word;}
.nxNick .nickChange .nickChangeBt {float:right;position:relative;z-index:10;}
.nxNick .nickChange .nickChangeBt button {position:absolute;top:-10px;right:25px;display:inline-block;width:91px;height:30px;padding-top:2px;background-color:#ffffff;border:1px solid #acacac;color:#666666;font-size:11px;text-align:center;}
.nxNick .nickChange .nickChangeBt button span {display:inline-block;padding-right:7px;background:url(https://ssl.nx.com/S2/membership/2011/icon/bul_arr_gr4.gif) no-repeat right 2px;}
.nxNick .nickChange .nickChangeBt .helpLayer {position:absolute;top:30px;right:0;}
.nxNick .nickChange .nickChangeBt .helpLayer .helpArr {position:absolute;top:-8px;right:63px;}
.nxNick .nickChange .nickChangeBt .helpLayer .helpArr img {vertical-align:top;}
.nxNick .nickChange .nickChangeBt .helpLayer p {padding:10px 10px 7px 11px;background-color:#ffffff;white-space:nowrap;border:2px solid #819ee7;line-height:1.5;font-size:11px;}

/* 가입대기 */
.nxNick2 {widht:486px;margin:0px 0 40px;padding:30px 0 0 24px;background-color:#f6f6f7;}
.nxNick2 p {padding-bottom:27px;line-height:1.65;}
.nxNick2 p span {display:inline-block;color:#6e81df;font-weight:bold;word-break:break-all;word-wrap:break-word;}
.parentsBt {position:relative;clear:both;margin:40px 0;border-top:1px solid #ebebeb;}
.parentsBt p {padding-top:27px;line-height:1.7;color:#888888;}
.parentsBt a {position:absolute;top:23px;right:0;display:inline-block;width:170px;height:27px;padding-top:16px;border:1px solid #b4beec;color:#6e81df;font-weight:bold;text-align:center;}
.parentsBt a span {display:inline-block;padding-right:7px;background:url(https://ssl.nx.com/S2/membership/2011/icon/bul_arr_bl3.gif) no-repeat right 2px;}

/* 본인확인 완료 */
.userAuthComplete {padding-bottom:200px;}
